
.output
{
    font: 1rem 'Fira Sans', Sans serif;
}

h1
{
    color: rgb(19, 19, 20);
    text-align: center;
}

.listado_de_productos
{
    
    background:rgb(19, 19, 20);
    padding: 30px 3px;
    color: rgb(219, 233, 219);
}

.formularios
{
    background:rgb(19, 19, 20);
    padding: 30px;
    color: rgb(219, 233, 219);
}